bluemix/exposing-a-soap-service-as-rest/files/weatherdata.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ibm.com/wdata" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wdata="http://ibm.com/wdata" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
			<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ibm.com/wdata">
			<xs:element name="WeatherRequest" type="wdata:WeatherRequest"/>
			<xs:complexType name="WeatherRequest">
				<xs:sequence>
					<xs:element name="latitude" type="xs:string"/>
					<xs:element name="longitude" type="xs:string"/>
					<xs:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xs:sequence>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:complexType>
			<xs:element name="WeatherResponse" type="wdata:WeatherResponse"/>
			<xs:complexType name="WeatherResponse">
				<xs:sequence>
					<xs:element name="latitude" type="xs:string"/>
					<xs:element name="longitude" type="xs:string"/>
					<xs:element name="obs_name" type="xs:string"/>
					<xs:element name="valid_time_gmt" type="xs:string"/>
					<xs:element name="day_ind" type="xs:string"/>
					<xs:element name="temp" type="xs:string"/>
					<xs:element name="wx_phrase" type="xs:string"/>
					<xs:element name="dewPt" type="xs:string"/>
					<xs:element name="heat_index" type="xs:string"/>
					<xs:element name="pressure" type="xs:string"/>
					<xs:element name="vis" type="xs:string"/>
					<xs:element name="wdir" type="xs:string"/>
					<xs:element name="wspd" type="xs:string"/>
					<xs:element name="feels_like" type="xs:string"/>
					<xs:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xs:sequence>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="WeatherResponse">
		<wsdl:part element="wdata:WeatherResponse" name="weatherResponse"/>
	</wsdl:message>
	<wsdl:message name="WeatherRequest">
		<wsdl:part element="wdata:WeatherRequest" name="weatherRequest"/>
	</wsdl:message>
	<wsdl:portType name="WeatherPortType">
		<wsdl:operation name="weatherRequest">
			<wsdl:input message="wdata:WeatherRequest"/>
			<wsdl:output message="wdata:WeatherResponse"/>
			<!-- <wsdl:fault message="wdata:WeatherRequestError"/>  -->
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WeatherBinding" type="wdata:WeatherPortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="weatherRequest">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="weatherService">
		<wsdl:port binding="wdata:WeatherBinding" name="WeatherPort">
			<wsdlsoap:address location="https://api.us.apiconnect.ibmcloud.com/dshute-apic-apic-maker/sb/wdata/current"/>
		</wsdl:port> 
	</wsdl:service>
</wsdl:definitions>
